.top-barre {
  width: 100%;                     
  background-color: #f3f9fb;         
  color: #222;                     
  padding: 8px 20px;             
  display: flex;                  
  justify-content: space-between;  
  align-items: center;             
  font-size: 14px;
  box-sizing: border-box;          
}

.top-barre .left,
.top-barre .right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-barre .info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.top-barre .icon {
  color: #008ecc;
  margin-top: -12px;
}

.top-barre p {
  margin-top: 5px;
}

.top-barre span {
  font-weight: bold;
  color: #008ecc;
}
